@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #f5f5f5;
}
/* Header section design starts here */
header{
    margin: 0 auto;
    max-width: 1020px;
    padding:30px 50px;
    background-color:white;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-container{
    list-style: none;
    display: flex;
    gap:10px;
    align-items: center;

}
.menu-container li a{
    text-decoration: none;
    color:black;
    font-size: 16px;
}
.menu-togglar,.menu-cart{
    display:none;
}

.banner-section{
    margin-top: 75px;
    display:flex;
    gap:50px;
    justify-content:space-between;

}
.banner-details{
align-self: center;
}
.banner-title{
    font-size: 32px;
    margin-bottom: 15px;
    color:#3A3A3A;
}
.banner-desc{
    font-size: 15px;
    margin-bottom: 15px;
}
.btn-primary{
    background-color: #E02C6D;
    padding:8px 16px;
    border:0px;
    border-radius: 20px;
    color:white;
    font-size: 14px;
    font-weight: 500;
    cursor:pointer;
}
.img-wrappr{
    background-image: url("images/Circle\ design.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    padding-left:50px;
}

.img-wrappr img{
width:100%;
height: 100%;
}
/* Header section desing ends here */


/* clients section start herer */
.clients , .products ,.featured-section{
margin-top: 90px;
max-width: 1020px;
margin: 0 auto;
background-color:white;
}

.clients-wrapper{
    max-width:700px;
    margin:0 auto;
    gap: 20px;
    padding-top:50px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    align-items: center;
    justify-items: start;
}

.client-name{
    width:85px;
    padding: 30px 0px;

}
.clients-wrapper img{
width: 100%;
}
.products-wrapper{
    max-width: 992px;
    margin: 0 auto;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    justify-items: center;
   grid-row-gap: 15px;

}

.products-title{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 35px;

}
.product{
    width: 300px;
    height: 400px;
    padding:10px;
    border-radius:5px;
    box-shadow: -1px 3px 15px 2px rgba(0,0,0,0.15);


}
.product-thamnail{
    width: 100%;
    height: 200px;
}
.product-title{
   margin:5px 0px;
   font-size: 25px;
}
.product-price{
    margin:5px 0px ;
    font-size: 20px;
}
.product-ratings .star-filled{
    color: orangered;
    font-size:15px;
    padding-right:5px;
}
.product-ratings .review{
    font-size:15px ;
    font-weight:700;
}
.product-desc{
    font-size: 14px;
    color:#787885;
}
.products-link{
text-align: end;
margin-top: 50px;
padding-bottom: 30px;

}
.products-link a{
    color:crimson;
    text-decoration: none;
    font-size: 15px;
margin-right: 20px;
}
/* product featured section */
.featured-wrapper{
    padding:70px 20px 70px 20px;
    display: flex;
    gap:50px;
}
.featured-desc{
    display: flex;
    align-items: center;
}
.featured-desc-title{
    font-size:30px;
    margin-bottom: 15px;


}
.featured-para{
    font-size: 14px;
    color:#787885;
    font-weight: 500;
    margin-bottom: 20px;
}
/* footer section design part */

 .footer{
    width: 100%;
    background-color: #0A0826;
    padding: 50px 0px;
    margin:0 auto;
    color:white;
    display: flex;
    justify-content: center;
}
.footer-content-container h3{
    text-align: center;
    margin-bottom: 8px;
}
.footer-content-container p{
   font-size: 14px;
   text-align: center;
   margin-bottom: 20px;
}
.footer-content-container h4{
    text-align: center;
}
.footer-content-container h4 i{
    padding:10px;
    font-size: 15px;
    background-color: #8585904d;
    border-radius: 50%;
    cursor: pointer;
}
.hide{
    display: none;
}
/* media query for mobile design */
@media screen and (max-width:576px){
    nav{

        justify-content: space-between;
        gap:10px;

    }
    .brand-name{
        font-size: 14px;
    }
    .menu-section{
     display: none;
    }

    .menu-togglar, .menu-cart{
        display: block;
    }
    .banner-section{
        flex-direction: column-reverse;
    }
    .banner-title{
        font-size: 20px;
    }
    .img-wrappr{
        padding-left: 0px;
        text-align: center;
        padding-right: 50px;
    }
    .clients{
        padding:40px;
    }
    .clients-wrapper{
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        gap:0px;
    }
    .products-title{
        text-align: center;
        font-size: 20px;
    }
    .products-wrapper{
        grid-template-columns:repeat(1,1fr);

    }
    .featured-wrapper{
        flex-direction: column-reverse;
        padding:0px 50px;


    }
    .featured-desc{
        padding:0px 20px;
    }
    .featured-desc-title{
        font-size: 20px;

    }
    .featured-img img{
    width: 100%;
    height: 100%;
    }
    .products-link a{

    margin-right: 67px;
    }
}